DATABASE_URL=host=localhost port=5432 user=users_app password=users_pass dbname=users_service sslmode=disable
PORT=:8081
JWT_SECRET=
JWT_ISSUER=users-service
JWT_AUDIENCE=surveys-service
ALLOWED_EMAIL_DOMAINS=vilniustech@lt,vgtu.lt